*{
    margin:0;
    padding: 0;
    box-sizing: 0;
    font-family:"Oleo Script", system-ui ;
    font-size: 175.73px;
}

body {
height: 100vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
background-image: linear-gradient( #2D6AE4, #96AFC5);
}

.texto-branco {
    color: #ffffff;
  }

