@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.navbar-custom{
    background-color: #373C3F;
    color: white
}

body{
    background-color:#262827;
}



.kanban * {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* KANBAN */ 
.kanban {
    display: flex;
    justify-content: center; /* <-- Adiciona isso */
    gap: 50px;
    padding: 24px 0;
    width: 100%;
    height: 80vh;
    overflow-x: auto;
    overflow-y: hidden;
}



.kanban-column {
    display: flex;
    flex-direction: column;
    gap: 18px;
    height: 100%;
    background-color: #373C3F;
    border-radius: 0px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    padding: 12px;
    min-width: 252px;
    position: relative;
}

.kanban-column::after {
    content: '';
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.kanban-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kanban-title h2 {
    font-size: 18px;
    color: #4b5563;
    font-weight: 600;
    text-transform: uppercase;

}
.kanban-column[data-id="1"] .kanban-title h2 { color: #DC5A59; }   /* rosa escuro */
.kanban-column[data-id="2"] .kanban-title h2 { color: #fd7e14; }   /* laranja */
.kanban-column[data-id="3"] .kanban-title h2 { color: #2f9e44; }   /* verde escuro */


.add-card {
    color: #4b5563;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.kanban-cards {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 4px;
}

.kanban-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #ffffff;
    border-radius: 14px;
    padding: 10px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.1);
    cursor: grab;
}

.badge {
    color: #ffffff;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 12px;
    width: fit-content;
}

.badge.high { background-color: #d573b6; }
.badge.medium { background-color: #fea065; }
.badge.low { background-color: #92a5fb; }

.card-icons {
    display: flex;
    gap: 18px;
}

.card-icons i {
    color: #a8a8aa;
}

.user img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
}

.dragging {
    opacity: 0.5;
}

.cards-hover {
    background-color: #eaeffa;
    border-radius: 8px;
}

.kanban *::-webkit-scrollbar {
    width: 8px;
}

.kanban *::-webkit-scrollbar-track {
    background-color: #eaeffa;
    border-radius: 8px;
}

.kanban *::-webkit-scrollbar-thumb {
    background-color: #b7d3fb;
    border-radius: 20px;
}
